body{
    background-color: powderblue;
}

.alon{
    background-color: burlywood;
}
.menu 
{
            width:100px;
            background-color: #F5F5DC  /*rgb(218, 218, 218)*/;
            border:solid 2px green;
            list-style-type: none; /*Removes UL bullets*/
            padding: 0; /*Removes UL padding*/
}
.menu-option 
{
            color:white;
            border-bottom:solid 1px orange;
            text-decoration:none;
            
}

